@font-face {
  font-family: "Mali";
  src: url("fonts/Mali/Mali-Regular");
  src: url("fonts/Mali/Mali-Regular.eot") format("embedded-opentype"),
    url("fonts/Mali/Mali-Regular.woff2") format("woff2"),
    url("fonts/Mali/Mali-Regular.woff") format("woff"),
    url("fonts/Mali/Mali-Regular.ttf") format("truetype");
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
body,
button,
div,
span {
  font-family: "Mali", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background: linear-gradient(
    180deg,
    #ffcab0 12%,
    #ffe9cc 22%,
    #fffccc 50%,
    #ffe9cc 78%,
    #ffccdd 90%,
    #ffccf2 100%
  );
}
.smallest-font-size {
  font-size: 18px;
}
button {
  cursor: pointer;
  color: #6c1df5;
  border-color: black;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 15px;
  box-shadow: 1px 3px 3px 1px gray;
  transition: all 200ms ease;
}
a:link,
a:visited {
  text-decoration: none;
  color: black;
}
a:hover,
button:hover {
  color: #52ffaa;
}
a:active,
button:active {
  color: #6c1df5;
}
.courier-font {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  font-size: 19px;
}
#score-and-reload {
  width: 840px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
body {
  margin: 1em;
  padding: 0;
}
.footer {
  margin: 2em 0em 2em 0em;
}
.illustration-sources {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#align-center {
  text-align: center;
}
/* not mobile friendly, only browser specific for now
  need to fix formatting so always 4x4
  need to make breakpoints
  try to make without breakpoints first
  maybe something in the JS layout?
  add shrink feature for mobile? */
#grid {
  /* adjust for mobile and all browser widths
  width: auto; for mobile */
  width: 841px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
img {
  width: 210px;
  height: 180px;
}

/* BREAKPOINTS */
/* Small laptop/tablet AKA smaller than 4x4 */
@media only screen and (min-width: 670px) and (max-width: 890px) {
  img {
    width: 150px;
    height: 130px;
  }
  #grid {
    width: 601px;
    height: auto;
  }
  #score-and-reload {
    width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/* Large mobile: */
@media only screen and (max-width: 669px) {
  img {
    width: 130px;
    height: 110px;
  }
  #grid {
    width: 521px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }
  #score-and-reload {
    width: 520px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
/* Small mobile:  */
@media only screen and (max-width: 565px) {
  img {
    width: 110px;
    height: 90px;
  }
  #grid {
    width: 441px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }
  #score-and-reload {
    width: 440px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
